*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}
header{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../depositphotos_74080655-stock-illustration-colorful-henna-mandala-design.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}
ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;
	
}
 
ul li{
	display: inline-block; 
}

ul li a{
	text-decoration: none;
	color: #000;
	padding: 5px 20px;
	border: 2px solid transparant;
	transition: 0.6s ease;
}

ul li a:hover{
	background-color: #fff;
	color: #000;
}

ul li.active a{
	background-color: #fff;
	color: #000;
}

.logo img{
	float: left;
	width: 150px;
	height: 150px;
	
}

.title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%); 	
	text-shadow: 3px 3px #000;
}

.title h1{
	color: #ff1493;
	font-size: 70px;
	
}
 
.main{
	max-width: 1500px;
	margin: auto;
	
}

.button{
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%,-50%); 	
	}

.btn{
	border: 2px solid #fff;
	padding: 10px 30px;
	color: #fff;
	text-decoration: none;
}

